{
  "extends": "webkom",
  "parser": "babel-eslint",
  "rules": {
    "global-require": 0,
    "spaced-comment": 0 // disable because of she-bang bug in index.js
  },
  "env": {
    "mocha": true,
    "node": true
  }
}
